<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.megacoreapps.cashout">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/icn"
        android:label="@string/Mon_app_name"
        android:roundIcon="@drawable/icn"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ContactActivity"
            android:exported="true" />
        <activity
            android:name=".EmailPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".BasicActivity"
            android:exported="true" />
        <activity
            android:name=".Welcome"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".ChoiceSelection"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NoInternetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ChoiceSelection"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/myDroidAdmobapp_id" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".DailyCheckins"
            android:parentActivityName=".ChoiceSelection"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChoiceSelection" />
        </activity>
        <activity
            android:name=".LuckyWheel"
            android:parentActivityName=".ChoiceSelection"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChoiceSelection" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".ChoiceSelection"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChoiceSelection" />
        </activity>

        <activity
            android:name=".Instructions"
            android:parentActivityName=".ChoiceSelection"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChoiceSelection" />
        </activity>
        <activity
            android:name=".AgreeActivity"
            android:parentActivityName=".ChoiceSelection"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Redeem"
            android:parentActivityName=".ChoiceSelection"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChoiceSelection" />
        </activity>
        <activity
            android:name=".RedeemPayTm"
            android:parentActivityName=".Redeem"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RedeemPayTm2"
            android:parentActivityName=".Redeem"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>